.input-field input[type=text] + label, .materialize-textarea:focus:not([readonly]) + label {
    color: black !important;
   }
   
   .input-field input[type=text], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black ;
    box-shadow: 0 0 0 0 black !important;
   }

   .input-field input[type=date] + label, .materialize-textarea:focus:not([readonly]) + label {
    color: black !important;
   }

   .input-field input[type=date], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black ;
    box-shadow: 0 0 0 0 black !important;
   }
   
   
   .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: red !important;
   }
   
   .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
   }

   .input-field input[type=date]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
   }