.input-field input[type=text] + label, .materialize-textarea:focus:not([readonly]) + label {
    color: red !important;
   }
   
   .input-field input[type=text], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
   }
   
   
   .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #b71c1c !important;
   }
   
   .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #b71c1c !important;
    box-shadow: 0 1px 0 0 #b71c1c !important;
   }